body {
    cursor: url("https://server.xiaozhengyang.com:4433/files/reporter-assets/normal.cur"), auto;
}

a {
    cursor: url("https://server.xiaozhengyang.com:4433/files/reporter-assets/link.cur"), auto;
}

a:hover {
    cursor: url("https://server.xiaozhengyang.com:4433/files/reporter-assets/link.cur"), auto;
}

.hty-icon-button {
    cursor: url("https://server.xiaozhengyang.com:4433/files/reporter-assets/link.cur"), pointer;
}

input {
    cursor: url("https://server.xiaozhengyang.com:4433/files/reporter-assets/link.cur"), auto;
}